<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KevalDal</title>
  <style></style>
</head>
<body>
<h1>Welcome to KevalDal</h1>
<p>

  Hi Welcome to KevalDal. You have signed up for an account with us please visit www.kevaldal.com and order from all the fresh dal !! <br>
  Thank You</br>
  Keval Dal
</p>
</body>
</html>