

<!-- banner -->
<div class="banner-slider">
  <div class="banner-pos">
    <div class="banner one page-head">
      <div class="container">
        <div class="navigation text-center">
          <span class="menu"><img src="/assets/menu.png" alt=""/></span>
          <ul class="nav1">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/products">OUR MENU</a></li>
            <li><a href="/gallery">GALLERY</a></li>
            <!--<li><a href="typography.html">TODAY'S SPECIAL</a>-->
            <li><a href="/contact">CONTACT</a></li>
            <div class="clearfix"></div>
          </ul>
          <!-- script for menu -->
          <script>
              $( "span.menu" ).click(function() {
                  $( "ul.nav1" ).slideToggle( 300, function() {
                      // Animation complete.
                  });
              });
          </script>
          <!-- //script for menu -->

        </div>
        <!-- point burst circle -->
        <div class="logo">
          <a href="index.html">
            <div class="burst-36 ">
              <div>
                <div><span><img src="/assets/logo2.png" style="width: 100%" alt=""/></span></div>
              </div>
            </div>
            <h1>LOGIN</h1>
          </a>
        </div>
        <!-- //point burst circle -->

      </div>
    </div>
  </div>
</div>

<!-- //banner -->
<!-- login-page -->
<div class="login">
  <div class="container">
    <div class="login-grids">
      <div class="col-md-6 log">
        <h3>LOGIN</h3>
        <div class="strip"></div>
        <p>Welcome, please enter the following to continue.</p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h5>Email :</h5>
            <%= f.text_field :email, autofocus: true %>
          <h5>Password:</h5>
            <%= f.password_field :password, autocomplete: "off" %>
          <input type="submit" value="LOGIN">

        <% end %>
        <h4><%= link_to "Forgot your password?", new_password_path(resource_name) %></h4>
        <br>
        <h3>OR</h3>
        <div class="strip"></div>
        <%= link_to ' SIGN IN WITH FACEBOOK', user_omniauth_authorize_path(:facebook), :class => 'hvr-shutter-in-horizontal button' %></br>


      </div>
      <div class="col-md-6 login-right">
        <h3>NEW REGISTRATION</h3>
        <div class="strip"></div>
        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
        <a href="/users/sign_up" class="hvr-shutter-in-horizontal button">CREATE AN ACCOUNT</a>
        </br>

      </div>
        <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //login-page -->
