<!-- footer-top -->
<div class="footer-top">
  <div class="container">
    <div class="col-md-3 footer-grid">
      <h3><a href="/">KEVAL DAL INC.</a></h3>
    </div>
    <div class="col-md-3 footer-grid">
      <h4>OPEN</h4>
      <p>EVERYDAY<span>10: 00 am - 8 : 00 pm</span></p>
    </div>
    <div class="col-md-3 footer-grid">
      <h4>ORDERS</h4>
      <p>EVERYDAY<span>10 : 00 am - 7 : 00 pm</span></p>
    </div>
    <div class="col-md-3 footer-grid">
      <h4>ADDRESS</h4>
      <ul>
        <li class="list-one"> 15 New Arya Nagar, Patel Market, Ghaziabad (U.P.) </li>
        <li class="list-two"><a href="kevaldal.inc@gmail.com">kevaldal.inc@gmail.com</a></li>
        <li class="list-three">9717074393, 8826554693</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //footer-top -->
<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="footer-left">
      <!--<p>&copy; 2015 Favorites. Design by <a href="http://w3layouts.com/"> W3layouts</a></p>-->
    </div>
    <div class="footer-right">
      <ul>
        <li><a href="#" class="twitter"> </a></li>
        <li><a href="https://www.facebook.com/kevaldal12/" class="facebook"> </a></li>
        <!--<li><a href="#" class="chrome"> </a></li>-->
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<!-- //footer -->