<!-- header -->
<div class="header">
  <div class="container">
    <div class="top-header">
      <div class="header-left">
        <p>Place your dal order and get it at your doorstep</p>
      </div>
      <div class="login-section">
        <ul>
          <% if user_signed_in? %><li><%= link_to 'Logout', destroy_user_session_path  %></li> <% else %>
              <li><%= link_to "Log in", '/users/sign_in' %> </li> |
              <li><%= link_to "Register", '/users/sign_up' %></li> <% end %>
        </ul>
      </div>
      <!-- start search-->
      <!--<div class="search-box">-->
        <!--<div id="sb-search" class="sb-search">-->
          <!--<form>-->
            <!--<input class="sb-search-input" placeholder="Enter your search item..." type="search" name="search" id="search">-->
            <!--<input class="sb-search-submit" type="submit" value="">-->
            <!--<span class="sb-icon-search"> </span>-->
          <!--</form>-->
        <!--</div>-->
      <!--</div>-->
      <!-- search-scripts -->

      <script>
          new UISearch( document.getElementById( 'sb-search' ) );
      </script>
      <!-- //search-scripts -->
      <% if user_signed_in? %>
      <div class="header-right">
        <div class="cart box_1">
          <a href="/carts/<%= current_user.cart.id %>"  data-no-turbolink="true">
            <h3> <span class=""> Rs. <%= cart_total %> </span> <img src="/assets/bag.png" alt=""></h3>
          </a>
          <p><a href="/carts/<%= current_user.cart.id %>" data-no-turbolink="true" class="simpleCart_empty">

            <% if current_user.cart.cart_items.present? %> <%= total_active_cart_items %> Items <% else %> Empty cart <% end %></a></p>
          <div class="clearfix"> </div>
        </div>
      </div>
          <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


