<!-- banner -->
<div class="banner-slider">
  <div class="banner-pos">
    <div class="banner one page-head">
      <div class="container">
        <div class="navigation text-center">
          <span class="menu"><img src="/assets/menu.png" alt=""/></span>
          <ul class="nav1">
            <li><a href="/">HOME</a></li>
            <li><a class="active" href="/about">ABOUT</a></li>
            <li><a href="/products">OUR MENU</a></li>
            <li><a href="/gallery">GALLERY</a></li>
            <!--<li><a href="typography.html">TODAY'S SPECIAL</a>-->
            <li><a href="/contact">CONTACT</a></li>
            <div class="clearfix"></div>
          </ul>
          <!-- script for menu -->
          <script>
              $( "span.menu" ).click(function() {
                  $( "ul.nav1" ).slideToggle( 300, function() {
                      // Animation complete.
                  });
              });
          </script>
          <!-- //script for menu -->

        </div>
        <!-- point burst circle -->
        <div class="logo">
          <a href="index.html">
            <div class="burst-36 ">
              <div>
                <div><span><img src="/assets/logo2.png" style="width: 100%; margin-left: 6%;" alt=""/></span></div>
              </div>
            </div>
            <h1 style="margin-left: 6%;">ABOUT US</h1>
          </a>
        </div>
        <!-- //point burst circle -->


      </div>
    </div>
  </div>
</div>
<!-- //banner -->
<!-- about-page -->
<div class="about-page">
  <div class="container">
    <div class="about-info">
      <h3>ABOUT</h3>
      <div class="strip-line st-border"></div>
    </div>
    <div class="about-grids">
      <div class="col-md-7 about-grid">
        <h4>A FEW WORDS ABOUT US</h4>
        <p> Kevaldal.com (keval dal incorporation) is a online Dal shopping portal that aims to fulfilling your daily Dal requirement .</p>
        <p>No more toil walking across the market or supermarket to pick few Dals,  standing in long queues at the billing counters, stuck in traffic jam.
          Kevaldal.com ,the best and most trusted online dal store, is not only committed to save your  time , but also provides you the hand cleaned and quality Dal.</p>
        <p>
          Additionally, it delivers the products right at your doorstep within a time slot, convenient to you.
        </p>
        Purchasing Dal is now a cakewalk with Kevaldal.com
        <p>Why to purchase Dal from KEVAL DAL INC. :</p>
        <li>Open delivery</li>
        <li>No charges for delivery charges</li>
        <li>
          No question asked return policy
        </li>
        <li>
          Cash on delivery
        </li>
        <li>
          1kg is also delivered at your doorstep
        </li>
        <li>
          Manage your monthly dal requirement
        </li>
        <li>
          Multilevel quality checks before delivery
        </li>

      </div>
      <div class="col-md-5 about-grid">
        <!--<img src="/assets/g4.jpg" alt=""/>-->
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- test -->
<div class="testimonial">
  <div class="container">
    <!-- responsiveslides -->

    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: false,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    <!-- responsiveslides -->
    <div  id="top" class="callbacks_container">
      <ul class="rslides" id="slider4">
        <li>
          <div class="testm-info">
            <h3>KEVALDAL</h3>
            <p>
              Buy Dal online at Kevaldal.com and experience a hassle-free journey, right from payment to delivery.
            </p>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
<!-- //test -->

<!-- //about-page -->