
<!-- banner -->
<div class="banner-slider">
  <div class="banner-pos">
    <div class="banner one page-head">
      <div class="container">
        <div class="navigation text-center">
          <span class="menu"><img src="/assets/menu.png" alt=""/></span>
          <ul class="nav1">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/products">OUR MENU</a></li>
            <li><a href="/gallery">GALLERY</a></li>
            <!--<li><a href="typography.html">TODAY'S SPECIAL</a>-->
            <li><a class="active" href="/contact">CONTACT</a></li>
            <div class="clearfix"></div>
          </ul>
          <!-- script for menu -->
          <script>
              $( "span.menu" ).click(function() {
                  $( "ul.nav1" ).slideToggle( 300, function() {
                      // Animation complete.
                  });
              });
          </script>
          <!-- //script for menu -->

        </div>
        <!-- point burst circle -->
        <div class="logo">
          <a href="index.html">
            <div class="burst-36 ">
              <div>
                <div><span><img src="/assets/logo2.png" style="width: 100%; margin-left: 6%;" alt=""/></span></div>
              </div>
            </div>
            <h1 style="margin-left: 6%;">CONTACT</h1>
          </a>
        </div>
        <!-- //point burst circle -->


      </div>
    </div>
  </div>
</div>

<!-- //banner -->
<!-- contact-page -->
<div class="contact">
  <div class="container">
    <div class="contact-info">
      <h3>VIEW ON MAP</h3>
      <div class="strip-line"></div>
    </div>
    <div class="contact-map">
      <iframe src="https://www.google.com/maps/embed/v1/place?q=New+Arya+Nagar,+Ghaziabad,+Uttar+Pradesh,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU" frameborder="0" style="border:0"></iframe>
    </div>
    <div class="contact-form">
      <div class="contact-info">
        <h3>CONTACT FORM</h3>
        <div class="strip-line"></div>
      </div>
      <form>
        <div class="contact-left">
          <input type="text" placeholder="Name" required>
          <input type="text" placeholder="E-mail" required>
          <input type="text" placeholder="Subject" required>
        </div>
        <div class="contact-right">
          <textarea placeholder="Message" required></textarea>
        </div>
        <div class="clearfix"></div>
        <input type="submit" value="SUBMIT">
      </form>
    </div>
  </div>
</div>
<!-- //contact-page -->