<!-- banner -->
<div class="banner-slider">
  <div class="banner-pos">
    <div class="banner one page-head">
      <div class="container">
        <div class="navigation text-center">
          <span class="menu"><img src="/assets/menu.png" alt=""/></span>
          <ul class="nav1">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/products">OUR MENU</a></li>
            <li><a class="active" href="/gallery">GALLERY</a></li>
            <!--<li><a href="typography.html">TODAY'S SPECIAL</a>-->
            <li><a href="/contact">CONTACT</a></li>
            <div class="clearfix"></div>
          </ul>
          <!-- script for menu -->
          <script>
              $( "span.menu" ).click(function() {
                  $( "ul.nav1" ).slideToggle( 300, function() {
                      // Animation complete.
                  });
              });
          </script>
          <!-- //script for menu -->

        </div>
        <!-- point burst circle -->
        <div class="logo">
          <a href="index.html">
            <div class="burst-36 ">
              <div>
                <div><span><img src="/assets/logo2.png" style="width: 100%; margin-left: 6%;" alt=""/></span></div>
              </div>
            </div>
            <h1 style="margin-left: 6%;">Keval Dal</h1>
          </a>
        </div>
        <!-- //point burst circle -->


      </div>
    </div>
  </div>
</div>

<!-- //banner -->
<!-- gallery-page -->
<div class="gallery">
  <div class="container">
    <div class="gallery-info">
      <h3>GALLERY</h3>
      <div class="strip-line st-border"></div>
    </div>
    <div class="gallery-grids">
      <div class="col-md-4 gallery-grid gallery1">
        <a href="/assets/k1.jpg" class="swipebox"><img src="/assets/k1.jpg" class="img-responsive" alt="/">
          <div class="textbox">
          </div>
      </div></a>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="/assets/k2.jpg" class="swipebox"><img src="/assets/k2.jpg" class="img-responsive" alt="/">
          <div class="textbox">
          </div>
      </div></a>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="/assets/k3.jpg" class="swipebox"><img src="/assets/k3.jpg" class="img-responsive" alt="/">
          <div class="textbox">
          </div>
      </div></a>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="/assets/k4.jpg" class="swipebox"><img src="/assets/k4.jpg" class="img-responsive" alt="/">
          <div class="textbox">
          </div>
      </div></a>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="/assets/k5.jpg" class="swipebox"><img src="/assets/k5.jpg" class="img-responsive" alt="/">
          <div class="textbox">
          </div>
      </div></a>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="assets/k6.jpg" class="swipebox"><img src="/assets/k6.jpg" class="img-responsive" alt="/">
          <div class="textbox">
          </div>
      </div></a>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="/assets/k7.jpg" class="swipebox"><img src="/assets/k7.jpg" class="img-responsive" alt="/">
          <div class="textbox">
          </div>
      </div></a>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="/assets/k8.jpg" class="swipebox"><img src="/assets/k8.jpg" class="img-responsive" alt="/">
          <div class="textbox">
          </div>
      </div></a>
      <div class="col-md-4 gallery-grid gallery1">
        <a href="/assets/k9.jpg" class="swipebox"><img src="/assets/k9.jpg" class="img-responsive" alt="/">
          <div class="textbox">
          </div>
      </div></a>
      <div class="clearfix"> </div>


    </div>

    <script type="text/javascript">
        jQuery(function($) {
            $(".swipebox").swipebox();
        });
    </script>
  </div>
</div>
<!-- //gallery-page -->