<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->


<!-- //header -->
<!-- banner -->
<div class="banner-slider">
  <div class="banner-pos">
    <!-- responsiveslides -->

    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: false,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    <!-- responsiveslides -->
    <div  id="top" class="callbacks_container">
      <ul class="rslides" id="slider3">
        <li>
          <div class="banner one">
            <div class="container">
              <div class="navigation text-center">
                <span class="menu"><img src="/assets/menu.png" alt=""/></span>
                <ul class="nav1">
                  <li><a class="active" href="/">HOME</a></li>
                  <li><a href="/about">ABOUT</a></li>
                  <li><%= link_to 'OUR MENU', products_path %></li>
                  <li><a href="/gallery">GALLERY</a></li>
                  <!--<li><a href="typography.html">TODAY'S SPECIAL</a>-->
                  <li><a href="/contact">CONTACT</a></li>
                  <div class="clearfix"></div>
                </ul>
              </div>
              <!-- point burst circle -->
              <div class="logo">
                <a href="index.html">
                  <div class="burst-36 ">
                    <div>
                      <div><span><img src="/assets/logo2.png" style="width: 100%; margin-left: 6%;" alt=""/></span></div>
                    </div>
                  </div>
                  <h1 style="margin-left: 6%; width: 100%;">Keval&nbsp;Dal</h1>
                </a>
              </div>
              <!-- //point burst circle -->

              <div class="banner-info text-center">
                <p style="color: #204056">दाल चाहिए, हमे बताइए !!</p>
                <div class="order"><a href="/products">ORDER US NOW</a></div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="banner two">
            <div class="container">
              <div class="navigation text-center">
                <span class="menu"><img src="/assets/menu.png" alt=""/></span>
                <ul class="nav1">
                  <li><a class="active" href="/">HOME</a></li>
                  <li><a href="/about">ABOUT</a></li>
                  <li><a href="/products">OUR MENU</a></li>
                  <li><a href="/gallery">GALLERY</a></li>
                  <!--<li><a href="typography.html">TODAY'S SPECIAL</a>-->
                  <li><a href="/contact">CONTACT</a></li>
                  <div class="clearfix"></div>
                </ul>
                <!-- script for menu -->
                <script>
                    $( "span.menu" ).click(function() {
                        $( "ul.nav1" ).slideToggle( 300, function() {
                            // Animation complete.
                        });
                    });
                </script>
                <!-- //script for menu -->
              </div>
              <!-- point burst circle -->
              <div class="logo">
                <a href="/">
                  <div class="burst-36 ">
                    <div>
                      <div><span><img src="/assets/logo2.png" style="width: 100%; margin-left: 6%;" alt=""/></span></div>
                    </div>
                  </div>
                  <h1 style="margin-left: 6%; width: 100%;">Keval&nbsp;Dal</h1>
                </a>
              </div>
              <!-- //point burst circle -->

              <div class="banner-info text-center">
                <p style="color: #204056">दाल चाहिए, हमे बताइए !!</p>
                <div class="order"><a href="/products">ORDER US NOW</a></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- banner-bottom -->
  <div class="banner-bottom">
    <div class="container">
      <div class="bottom-grids">
        <div class="col-md-4 bottom-grid text-center">
          <div class="btm-clr">
            <figure class="icon">
              <img src="/assets/k22.png" alt="" style="width: 50%;" />

            </figure>
            <h3>Fresh Dal</h3>
            <p> We present you the fresh pulses brought to you from the famous production places. try it once</p>
          </div>
        </div>
        <div class="col-md-4 bottom-grid btm-gre text-center">
          <div class="btm-clr">
            <figure class="icon">
              <img src="/assets/k11.png" alt="" style="width: 50%;" />
            </figure>
            <h3>Cheapest</h3>
            <p> You cannot find the cheaper pulses anywhere except here. we give you pulses at the cheapest rate from the market</p>
          </div>
        </div>
        <div class="col-md-4 bottom-grid text-center">
          <div class="btm-clr">
            <figure class="icon">
              <img src="/assets/k33.png" alt="" style="width: 50%;" />
            </figure>
            <h3>Special Offer</h3>
            <p> Order in Bulk and get the best price and discounts, hurry offer expires very soon. Conditions Apply</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- //banner-bottom -->
</div>
<!-- //banner -->
<!-- welcome -->
<div class="welcome">
  <div class="container">
    <div class="wel-info">
      <h3>WELCOME</h3>
      <div class="strip-line"></div>
      <p>Find the great quality of dal in our store. We promise you the best in quality and the lowest price
      </p>

    </div>
    <div class="welcome-grids">
      <div class="col-md-4 welcome-grid-img">
        <img src="/assets/pic10.jpg" alt=""/>
        <div class="wel-pos">
          <h4>Saabut Moong</h4>
        </div>
      </div>
      <div class="col-md-4 welcome-grid">
        <div class="welcome-gd second">
          <h4>Dal Fact </h4>
          <p>
            Dal protein contents are 3.5 times that of rice & 2.5 times that of egg. <br>
            By weight, cooked(boiled) Dal contains 9% protein, 70 % water, 20% carbohydrates(includes 8% fibre, 1% fat)
          </p>
        </div>
      </div>
      <div class="col-md-4 welcome-grid-img">
        <img src="/assets/picdal11.jpg" alt=""/>
        <div class="wel-pos">
          <h4>Various Options </h4>
        </div>
      </div>
      <div class="col-md-4 welcome-grid">
        <div class="welcome-gd second">
          <h4>Dal Fact</h4>
          <p>The word 'Dal' is derived from sanskrit verbal root dhal which means to "SPLIT"
          </p>
        </div>
      </div>
      <div class="col-md-4 welcome-grid-img">
        <img src="/assets/k8.jpg" alt=""/>
        <div class="wel-pos">
          <h4>High Quality</h4>
        </div>
      </div>
      <div class="col-md-4 welcome-grid">
        <div class="welcome-gd second">
          <h4>Dal Fact </h4>
          <p>The word Dal is also used to name the thick stew prepared from pulses. <br>
            Stew is a combination of solid food ingredients that have been cooked in liquid and served
            in the resultant gravy
          </p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //welcome -->
<!-- good -->
<div class="good">
  <div class="container">
    <div class="good-info">
      <h3>WHY CHOOSE US</h3>
      <div class="strip-line"></div>
    </div>
    <div class="good-grids">
      <div class="col-md-5 good-right">
        <img src="/assets/pic12.jpg" alt=""/>
        <div class="desc">
          <p>DESERT</p>
        </div>
      </div>
      <div class="col-md-7 good-left">
        <h3>BETTER TASTING DAL</h3>
        <p>In the increasing demand of the good taste we provide you the best taste dal.</p>
        <div class="strip"></div>
        <h3>FAST, FREE DELIVERS ON ORDERS</h3>
        <p>In the increasing demand of the good taste we provide you the best taste dal.</p>
        <div class="strip"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //good -->
<div class="delicious">
  <div class="container">
    <div class="delicious-info">
      <h3>DELICIOUS DAL FOR ALL TASTES</h3>
      <div class="strip-line"></div>
    </div>
    <!-- delicious --><% @product_variants.each_with_index do |variant| %>
        <div class="delicious-grids" style="margin-top: -2%;">
          <div class="col-md-3 col-xs-12 col-sm-12 delicious-grid" style="margin-left: 3%; margin-top: 5%;">
            <h3><%= variant.name %></h3>
            <%= image_tag variant.variant_photos[0].variant_image %>
            <h3>Rs. <%= variant.price %>/kg</h3>


            <p style="overflow-y: auto;"><strong>Details : </strong><%= variant.description %></p>
            <!-- Button trigger modal -->

                <a class="hvr-shutter-in-horizontal button text-center" href="#" data-toggle="modal" data-target="#myModal-<%= variant.id %>" style="width: 100%;"> ADD TO CART</a>

            <%#= link_to 'ADD TO CART', add_to_cart_cart_path(:variant_id => variant.id), method: :post, :class => 'hvr-shutter-in-horizontal button', :style => 'margin-left: 24%;' %>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal-<%= variant.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content" >
              <div class="modal-header" style="background: #e9732f;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff;"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel" style="color: #fff;">Please Select Your Quantity</h3>
              </div>


              <div class="reg">
                <%= form_tag add_to_cart_cart_path(variant.id), :method => :post do  %>
                    <div class="modal-body">
                      <input type="hidden" name="cart_item[cart_id]" value="<%= current_user.cart.id if user_signed_in? %>">
                      <input type="hidden" name="cart_item[variant_id]" value="<%= variant.id %>">
                      <h4>Type your Quantity(in Kg):</h4></br>
                      <input type="text" name="cart_item[quantity]" placeholder="Please enter number only" >

                    </div>
                    <div class="modal-footer">
                      <!--<button type="button" class="hvr-shutter-in-horizontal button" data-dismiss="modal">Close</button>-->
                      <!--<input type="button" value="CLOSE">-->
                      <input type="submit" value="ADD TO CART">
                      <!--<button type="submit" class="btn btn-primary">ADD TO CART</button>-->
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

    <% end %>
  </div>
</div>
<!-- //delicious -->

<!-- smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */
        $().UItoTop({ easingType: 'easeOutQuart' });
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->

