<style>
        /*
        Max width before this PARTICULAR table gets nasty
        This query will take effect for any screen smaller than 760px
        and also iPads specifically.
        */
    @media
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr { border: 1px solid #ccc; }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 15px;
            left: 6px;
            width: 45%;
            padding-right: 71px;
            white-space: nowrap;
        }

        /*
        Label the data
        */

        td:nth-of-type(2):before { content: "Product"; }
        td:nth-of-type(3):before { content: "Price"; }
        td:nth-of-type(4):before { content: "Quantity(in Kg)"; }
        td:nth-of-type(5):before { content: "Total"; }
        td:nth-of-type(6):before { content: "Action"; }



    }

    /* Smartphones (portrait and landscape) ----------- */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) {
        body {
            padding: 0;
            margin: 0;
             }

    }

    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        body {
            width: 495px;
        }
    }
</style>

<div class="banner-slider">
  <div class="banner-pos">
    <div class="banner one page-head" style="min-height: 200px !important;">
      <div class="container">
        <div class="navigation text-center">
          <span class="menu"><img src="/assets/menu.png" alt=""/></span>
          <ul class="nav1">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a class="active" href="/products">OUR MENU</a></li>
            <li><a href="/gallery">GALLERY</a></li>
            <!--<li><a href="typography.html">TODAY'S SPECIAL</a>-->
            <li><a href="/contact">CONTACT</a></li>
            <div class="clearfix"></div>
          </ul>
          <!-- script for menu -->
          <script>
              $( "span.menu" ).click(function() {
                  $( "ul.nav1" ).slideToggle( 300, function() {
                      // Animation complete.
                  });
              });
          </script>
          <!-- //script for menu -->

        </div>
        <!-- point burst circle -->
        <div class="title ">
          <div class="logo">
            <a href="index.html">
              <h1 style="font-size: 50px;">ORDERS</h1>
            </a>
          </div>

        </div>
        <!-- //point burst circle -->
      </div>
    </div>
  </div>
</div>


<div class="cart">
  <div class="row">
<section id="cart-view">
<div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="cart-view-area">
          <div class="cart-view-table">

              <div class="">
                <table class="table">
                  <thead>
                  <tr>

                    <th></th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity(in Kg)</th>
                    <th>Total</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>

                  <%= form_tag update_cart_cart_path, method: "PUT"  do |f| %>
                  <% @cart_items.each do |cart_item| %>
                  <tr class="items">

                    <td><%= image_tag cart_item.variant.variant_photos[0].variant_image, :style => 'width: 100px; height:100px' %></td>
                    <td><a class="aa-cart-title" href="#"><%= cart_item.variant.name %></a></td>
                    <td>Rs. <%= cart_item.variant.price %>/kg</td>
                    <td><%= fields_for "cart_items[#{cart_item.id}]" do |p| %>


                          <input type="number" name="cart_items[<%= cart_item.id %>][quantity]" id="cart_items_<%= cart_item.id %>_quantity" rel="<%= cart_item.variant.price %>" value="<%= cart_item.quantity %>" class="aa-cart-quantity product-quantity">
                          <% end %></td>

                    <td>Rs. <%= (cart_item.variant.price) * (cart_item.quantity) %></td>
                    <td><%= link_to 'Delete Item', delete_cart_item_cart_path(cart_item.id), :method => :delete, :confirm => "Are you sure?", :class => 'hvr-shutter-in-horizontal button' %></td>
                  </tr>
                    <% end %>

                    <td colspan="8" class="aa-cart-view-bottom">
                      <div class="reg">

                      <input type="submit" value="UPDATE CART" class="hvr-shutter-in-horizontal button">
                      </div>
                      <%#= link_to 'Update Cart', '#', :class => 'hvr-shutter-in-horizontal button' %>

                    </td>
                  </tr>
                      <% end %>

                  </tbody>
                </table>
                <!-- Cart Total view -->
                <div class="cart-view-total" style="width: 100% !important;">
                  <h4>Cart Totals</h4>
                  <table class="aa-totals-table col-lg-12">
                    <tbody>
                    <tr>
                      <th>Subtotal</th>
                      <td>Rs. <%= cart_total %></td>
                    </tr>
                    <tr>
                      <th>Total</th>
                      <td>Rs. <%= cart_total %></td>
                    </tr>
                    </tbody>
                  </table>

                  <%= link_to 'Proceed to Checkout', billing_path, data: { no_turbolink: true }, :class => 'hvr-shutter-in-horizontal button' %>

                </div>
              </div>


          </div>
        </div>
      </div>
    </div>
</div>
</section>
</div>
  </div>

<script>


        $('.product-quantity').on('input', function() {
            var totalValue = ($(this).attr('rel')) * (parseFloat($(this).val()));
            $(this).closest('td').next().text('Rs.' + totalValue);
        });
//    });

</script>