<!-- banner -->
<div class="banner-slider">
  <div class="banner-pos">
    <div class="banner one page-head">
      <div class="container">
        <div class="navigation text-center">
          <span class="menu"><img src="/assets/menu.png" alt=""/></span>
          <ul class="nav1">
            <li><a href="index.html">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li><a href="menu.html">OUR MENU</a></li>
            <li><a href="gallery.html">GALLERY</a></li>
            <!--<li><a href="typography.html">TODAY'S SPECIAL</a>-->
            <li><a href="contact.html">CONTACT</a></li>
            <div class="clearfix"></div>
          </ul>
          <!-- script for menu -->
          <script>
              $( "span.menu" ).click(function() {
                  $( "ul.nav1" ).slideToggle( 300, function() {
                      // Animation complete.
                  });
              });
          </script>
          <!-- //script for menu -->

        </div>
        <!-- point burst circle -->
        <div class="logo">
          <a href="index.html">
            <div class="burst-36 " style="margin-left: -9%;">
              <div>
                <div><span><img src="/assets/logo2.png" style="width: 100%; margin-left: 2%;" alt=""/></span></div>
              </div>
            </div>
            <h1>BILLINGS</h1>
          </a>
        </div>
        <!-- //point burst circle -->

      </div>
    </div>
  </div>
</div>

<!-- //banner -->
<!-- login-page -->
<div class="login">
  <div class="container">
    <div class="login-grids">
      <div class="log">
        <h3>Billing Address</h3>
        <div class="strip"></div>
        <p>Welcome, please Complete Your billing address</p>
         <%= form_for @billing do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <div class="row">
              <div class="col-md-6">
                <h5>First Name :</h5>
                <%= f.text_field :first_name, autofocus: true, :required => true %>
              </div>
              <div class="col-md-6">
                <h5>Last Name:</h5>
                <%= f.text_field :last_name, :required => true %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6"><h5>Contact Number:</h5>
                <%= f.text_field :contact_no, :required => true %>
              </div>
              <div class="col-md-6">
                <h5>Address Line 1:</h5>
                <%= f.text_field :address1, :required => true %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h5>Locality</h5>
                <%= f.text_field :address2, :required => true %>
              </div>
              <div class="col-md-6">
                <h5>City:</h5>
                <%= f.select :city, options_for_select([["Select One", ""], "Ghaziabad"]), {}, {class: "form-control", style: "width: 70%", :required => true} %>

              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <h5>State:</h5>
                <%= f.text_field :state, :value => 'U.P', :readonly => true %>
              </div>
              <div class="col-md-6">
                <h5>Country:</h5>
                <%= f.text_field :country, :value => 'INDIA', :readonly => true  %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h5>Pin Code:</h5>
                <%= f.text_field :pincode, :required => true %>
              </div>
            </div>
            <input type="submit" value="SAVE BILLING INFO">
        <% end %>

      </div>
      <!--<div class="col-md-6 login-right">-->
        <!--<h3>NEW BILLING ADDRESS</h3>-->
        <!--<div class="strip"></div>-->
        <!--<p>.</p>-->
        <!--<a href="/users/sign_up" class="hvr-shutter-in-horizontal button">CREATE AN ACCOUNT</a>-->
      <!--</div>-->
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //login-page -->