<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/assets/bootstrap-clockpicker.js"></script>
<link href="/assets/bootstrap-clockpicker.css" rel="stylesheet" type="text/css" media="all"/>

<style>


    /*
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
    @media
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {

        /* Force table to not be like tables anymore */
        .ttable, .tthead, .ttbody, .tth, .ttd, .ttr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        .tthead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .ttr { border: 1px solid #ccc; }

        .ttd {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        .ttd:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 15px;
            left: 6px;
            width: 45%;
            padding-right: 71px;
            white-space: nowrap;
        }

        /*
        Label the data
        */

        .ttd:nth-of-type(2):before { content: "Product"; }
        .ttd:nth-of-type(3):before { content: "Price"; }
        .ttd:nth-of-type(4):before { content: "Quantity(in Kg)"; }
        .ttd:nth-of-type(5):before { content: "Total"; }
        .ttd:nth-of-type(6):before { content: "Action"; }
    }

    /* Smartphones (portrait and landscape) ----------- */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) {
        body {
            padding: 0;
            margin: 0;
             }
    }

    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        body {
            width: 495px;
        }
    }


</style>

<div class="container">
<div class="cart">
  <div class="row">
<section id="cart-view" style="margin-top: 50px;">

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default " style="margin-top: 10px;">
          <h3 class="text-center">Billing Address</h3>
          <div class="panel-body">
            <div class="panel-info">
              <p><strong>Name: </strong><%= @billing.first_name %> <%= @billing.last_name %></p>
              <p><strong>Contact: </strong><%= @billing.contact_no %></p>
              <p><strong>Address: </strong><%= @billing.address1 %>, <%= @billing.address2 %>, </br>
                <%= @billing.city %>, <%= @billing.state %>, <%= @billing.country %>, (<%= @billing.pincode %>)</p>
              <p><strong>Pincode: </strong><%= @billing.pincode %></p>
            </div>
          </div>
        </div>
      </div>
    </div></br>

    <h1 class="text-center">ORDER SUMMARY</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="cart-view-area">
          <div class="cart-view-table">

            <div>
              <table class="table ttable">
                <thead class="tthead">
                <tr class="ttr">

                  <th class="tth"></th>
                  <th class="tth">Product</th>
                  <th class="tth">Price</th>
                  <th class="tth">Quantity(in Kg)</th>
                  <th class="tth">Total</th>
                </tr>
                </thead>
                <tbody class="ttbody">


                    <% @cart_items.each do |cart_item| %>
                        <tr class="items ttr">
                          <td class="ttd"><%= image_tag cart_item.variant.variant_photos[0].variant_image, :style => 'width: 100px; height:100px' %></td>
                          <td class="ttd"><a class="aa-cart-title" href="#"><%= cart_item.variant.name %></a></td>
                          <td class="ttd">Rs. <%= cart_item.variant.price %>/kg</td>
                          <td class="ttd"><%= cart_item.quantity %></td>

                          <td class="ttd">Rs. <%= (cart_item.variant.price) * (cart_item.quantity) %></td>
                        </tr>
                    <% end %>
                    </tr>


                </tbody>
              </table>
            </div>

            <!-- Cart Total view -->
            <div class="cart-view-total" style="width: 100% !important;">
              <h4 class="text-center">Cart Totals</h4>
              <table class="aa-totals-table">
                <tbody>
                <tr>
                  <th>Subtotal</th>
                  <td>Rs. <%= cart_total %></td>
                </tr>

                <tr>
                  <th>Delivering charges</th>
                  <td>Rs. 0.0</td>
                </tr>
                <tr>
                  <th>Total</th>
                  <td>Rs. <%= cart_total %></td>
                </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div class="panel panel-default " style="margin-top: 10px;">
                    <h3 class="text-center">Schedule Order</h3>
                    <div class="panel-body">
                      <div class="login" style="padding: 0px;">

                      <div class="log">
                      <%= form_tag place_order_cart_path, :method => :post do %>
                            <input type="hidden" name="order[user_id]" value="<%= current_user.id %>">
                      <div class="panel-info">

                          <div class="radio">
                            <label style="font-size: 18px;">
                              <input type="radio" name="order[schedule_date]" checked id="option-order1" value="DELIVER NOW">
                              DELIVER NOW(As Soon As Possible)
                            </label>
                          </div>
                          <div class="radio">
                            <label style="font-size: 18px;">
                              <input type="radio"  id="option-order2" value="DELIVER LATER">
                              DELIVER LATER
                            </label>
                          </div>
                        <div id="date-field" style="display: none;" >
                        <h3>Enter Date: </h3>
                            <input type='text' class="form-control" id='datetimepicker' placeholder="Enter Date" />
                        </div>
                        <div id="time-field" style="display: none;" >
                          <h3>Enter Time: </h3>
                        <input type='text' class="form-control" id='timepicker1' placeholder="Enter Time" />
                        </div>
                        </div>
                          <input type="submit" value="PLACE ORDER" class="hvr-shutter-in-horizontal button">

                          <% end %>

                      </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div></br>


            </div>
          </div>
        </div>
      </div>
    </div>

</section>
</div>
    </div>

</div>
<script>

    $("#option-order2").on('click', function () {
        $('#date-field').show();
        $('#time-field').show();
        $('#datetimepicker').attr('name', 'order[schedule_date]');
        $('#timepicker1').attr('name', 'order[schedule_time]');
        $('#option-order1').attr('name', 'none');
        $('#option-order1').removeAttr('checked');

    });
    $("#option-order1").on('click', function () {
        $('#date-field').hide();
        $('#time-field').hide();
        $('#option-order1').attr('name', 'order[schedule_date]');
        $('#datetimepicker').attr('name', 'none');
        $('#timepicker1').attr('name', 'none');
        $('#option-order2').removeAttr('checked');
    });
    $(document).ready(function() {
        $('#timepicker1').clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            'default': 'now',
            twelvehour: true
        });
    $('#datetimepicker').datepicker({
        dateFormat: 'dd-mm-yy',
        minDate: 0
    });

    });
</script>