<div class="registration-form">
  <div class="container">
    <h3>Create Variant</h3>
    <div class="strip"></div>
    <div class="registration-grids">
      <div class="reg-form">
        <div class="reg">
          <p>Welcome, please create your variant</p>

          <%= form_for @variant do |f| %>

              <ul>
                <li class="text-info">Variant Name: </li>
                <li><%= f.text_field :name %></li>
              </ul>
              <ul>
                <li class="text-info">Price (In Rs.): </li>
                <li><%= f.text_field :price %></li>
              </ul>
              <ul>
                <li class="text-info">Description: </li>
                <li><%= f.text_area :description, :style => 'width: 100%; height: 269px;' %></li>
              </ul>
              <ul>
                <%= f.fields_for :variant_photos do |image| %>
                    <%#= hidden_field_tag "variant_id", params[:id]%>
                    <li class="text-info">Upload Images: </li>
                    <%= image.file_field :variant_image %>
                <% end %>
              </ul>


              <input type="submit" value="CREATE PRODUCT">

          <% end %>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>