

<!-- banner -->
<div class="banner-slider">
  <div class="banner-pos">
    <div class="banner one page-head">
      <div class="container">
        <div class="navigation text-center">
          <span class="menu"><img src="/assets/menu.png" alt=""/></span>
          <ul class="nav1">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/products">OUR MENU</a></li>
            <li><a href="/gallery">GALLERY</a></li>
            <!--<li><a href="typography.html">TODAY'S SPECIAL</a>-->
            <li><a href="/contact">CONTACT</a></li>
            <div class="clearfix"></div>
          </ul>
          <!-- script for menu -->
          <script>
              $( "span.menu" ).click(function() {
                  $( "ul.nav1" ).slideToggle( 300, function() {
                      // Animation complete.
                  });
              });
          </script>
          <!-- //script for menu -->

        </div>
        <!-- point burst circle -->
        <div class="logo">
          <a href="index.html">
            <div class="burst-36 ">
              <div>
                <div><span><img src="/assets/logo2.png" style="width: 100%" alt=""/></span></div>
              </div>
            </div>
            <h1>FORGOT PASSWORD</h1>
          </a>
        </div>
        <!-- //point burst circle -->

      </div>
    </div>
  </div>
</div>

<!-- //banner -->
<!-- login-page -->
<div class="login">
  <div class="container">
    <div class="login-grids">
      <div class="col-md-6 log">
        <h3>FORGOT YOUR PASSWORD ?</h3>
        <div class="strip"></div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <h5>Email :</h5>
            <%= f.text_field :email, autofocus: true %>
            <input type="submit" value="SEND ME THE PASSWORD RESET INSTRUCTIONS">

        <% end %>
        <%= render "users/shared/links" %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //login-page -->
