<div class="registration-form">
  <div class="container">
    <h3>Create Product</h3>
    <div class="strip"></div>
    <div class="registration-grids">
      <div class="reg-form">
        <div class="reg">
          <p>Welcome, please create your product </p>

          <%= form_for @product do |f| %>
              <ul>
                <li class="text-info">Product Name: </li>
                <li><%= f.text_field :name %></li>
              </ul>
              <ul>
                <li class="text-info">Description: </li>
                <li><%= f.text_area :description, :style => 'width: 100%; height: 269px;' %></li>
              </ul>
              <ul>
                <li class="text-info">Image Upload: </li>
                <li><%= f.file_field :product_image %></li>
              </ul>
              <ul>
                <li class="text-info">Category: </li>
                <li><%= f.collection_select :category_id, @categories, :id, :name,{prompt: "Select a category"}, {class: "form-control ", } %></li>
              </ul>

              <input type="submit" value="CREATE PRODUCT">

          <% end %>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>