<div class="banner-slider">
  <div class="banner-pos">
    <div class="banner one page-head">
      <div class="container">
        <div class="navigation text-center">
          <span class="menu"><img src="/assets/menu.png" alt=""/></span>
          <ul class="nav1">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a class="active" href="/products">OUR MENU</a></li>
            <li><a href="/gallery">GALLERY</a></li>
            <!--<li><a href="typography.html">TODAY'S SPECIAL</a>-->
            <li><a href="/contact">CONTACT</a></li>
            <div class="clearfix"></div>
          </ul>
          <!-- script for menu -->
          <script>
              $( "span.menu" ).click(function() {
                  $( "ul.nav1" ).slideToggle( 300, function() {
                      // Animation complete.
                  });
              });
          </script>
          <!-- //script for menu -->

        </div>
        <!-- point burst circle -->
        <div class="logo">
          <a href="index.html">
            <div class="burst-36 ">
              <div>
                <div><span><img src="/assets/logo2.png" style="width: 100%; margin-left: 6%;" alt=""/></span></div>
              </div>
            </div>
            <h1>PRODUCTS</h1>
          </a>
        </div>
        <!-- //point burst circle -->

      </div>
    </div>
  </div>
</div>

<!-- //banner -->
<!-- menu-page -->
<div class="menu">
  <div class="container">
    <div class="menu-info">
      <h3>CHECK OUT OUR MENU HERE</h3>
      <% if user_signed_in? && current_user.is_admin == true %>
        <h3><%= link_to 'Create Product', new_product_path, data: { no_turbolink: true } %> </h3>
      <% end %>
      <div class="strip-line"></div>
    </div>
    <div class="our-menu-grids">
      <% unless @products.blank?%>
      <% @products.each do |product| %>
      <div class="order-top">
        <li class="im-g"><a href="#"><%= image_tag product.product_image, :class => 'img-responsive' %></li>
        <li class="data">
          <h3>
            <% if product.variants.count == 1 %>
                <%= product.variants.pluck(:price).min %> Rs
                <% else %>

            <%= product.variants.pluck(:price).min %> - <%= product.variants.pluck(:price).max %> Rs
                <% end %>
          </h3>
          <h4><%= link_to product.name, product_path(product), :style => 'color: #e9732f;' %></h4>
          <p><%= raw(product.description) %></p>
        </li>
            <li class="bt-nn">
              <%= link_to 'EXPLORE', product_path(product), :class => 'hvr-shutter-in-horizontal button' %>
            </li>
        <div class="clearfix"></div>
      </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
<!-- //menu-page -->