<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Order Placed</title>
  <style></style>
</head>
<body>
<h1>Order Placed</h1>


 A new order has been placed
  they need </br>
  <% @cart_items.each do |cart_item| %>
  <p><%= cart_item.variant.name %> - <%= cart_item.quantity %>kg .. <%= cart_item.variant.price %>Rs/kg </p> </br>
  <% end %>

 <p>Email -  <%= @user.email %> </p>

  address -
<p><strong>Name: </strong><%= @billing.first_name %> <%= @billing.last_name %></p>
<p><strong>Contact: </strong><%= @billing.contact_no %></p>
<p><strong>Address: </strong><%= @billing.address1 %>, <%= @billing.address2 %>, </br>
  <%= @billing.city %>, <%= @billing.state %>, <%= @billing.country %>, (<%= @billing.pincode %>)</p>
<p><strong>Pincode: </strong><%= @billing.pincode %></p>
  <p> <strong> Schedule </strong> - <%= @schedule_date %> <%= @schedule_time %> </p>

<strong> Order total -  <%= @total %></strong>

</p>
</body>
</html>