<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Order Placed</title>
  <style></style>
</head>
<body>
<h1>Order Placed</h1>
<p>
  Your Order has been placed. Please wait a while Our team will call you shortly.

  Thank You
  Keval Dal
</p>
</body>
</html>