<!DOCTYPE html>
<html>
<head>
  <title>KevalDal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!--//fonts-->
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Favorites Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- //for-mobile-apps -->
  <!-- cart -->
  <!-- start-smoth-scrolling -->
  <script type="text/javascript">
      jQuery(document).ready(function($) {
          $(".scroll").click(function(event){
              event.preventDefault();
              $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
          });
      });
  </script>
  <script>


  </script>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render partial: 'shared/header' %>
<% flash.each do |key, value| %>
    <% if key == 'notice' %>
        <script>
            $.toaster('<%= value %>', 'Success', 'success');

        </script>
    <% elsif key == 'error' || key == 'alert' %>
        <script>

            $.toaster('<%= value %>', 'Error', 'danger');
        </script>
    <% end %>

    <!--<div class="alert alert-<%#= key %>"><%#= value %></div>-->
<% end %>
<%= yield %>
<%= render partial: 'shared/footer' %>

</body>
</html>
