
<%#= render "users/shared/links" %>
<div class="banner-slider">
  <div class="banner-pos">
    <div class="banner one page-head">
      <div class="container">
        <div class="navigation text-center">
          <span class="menu"><img src="/assets/menu.png" alt=""/></span>
          <ul class="nav1">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/products">OUR MENU</a></li>
            <li><a href="/gallery">GALLERY</a></li>
            <!--<li><a href="typography.html">TODAY'S SPECIAL</a>-->
            <li><a href="/contact">CONTACT</a></li>
            <div class="clearfix"></div>
          </ul>
          <!-- script for menu -->
          <script>
              $( "span.menu" ).click(function() {
                  $( "ul.nav1" ).slideToggle( 300, function() {
                      // Animation complete.
                  });
              });
          </script>
          <!-- //script for menu -->

        </div>
        <!-- point burst circle -->
        <div class="logo">
          <a href="/">
            <div class="burst-36 ">
              <div>
                <div><span><img src="/assets/logo2.png" style="width: 100%" alt=""/></span></div>
              </div>
            </div>
            <h1>REGISTRATION</h1>
          </a>
        </div>
        <!-- //point burst circle -->


      </div>
    </div>
  </div>
</div>
<!-- //banner -->
<!-- registration-form -->
<div class="registration-form">
  <div class="container">
    <h3>Registration</h3>
    <div class="strip"></div>
    <div class="registration-grids">
      <div class="reg-form">
        <div class="reg">
          <p>Welcome, please enter the following details to continue.</p>
          <p>If you have previously registered with us, <a href="#">click here</a></p>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
            <!--<ul>-->
              <!--<li class="text-info">First Name: </li>-->
              <!--<li><%#= f.email_field :email, autofocus: true %></li>-->
            <!--</ul>-->
            <!--<ul>-->
              <!--<li class="text-info">Last Name: </li>-->
              <!--<li><input type="text" value=""></li>-->
            <!--</ul>-->
            <ul>
              <li class="text-info">Email: </li>
              <li><%= f.text_field :email, autofocus: true %></li>
            </ul>
            <ul>
              <li class="text-info">Password(<% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>): </li>
              <li><%= f.password_field :password, autocomplete: "off" %></li>
            </ul>
            <ul>
              <li class="text-info">Re-enter Password:</li>
              <li><%= f.password_field :password_confirmation, autocomplete: "off" %></li>
            </ul>
            <ul>
              <li class="text-info">Mobile Number:</li>
              <li><input type="text" value=""></li>
            </ul>
            <input type="submit" value="REGISTER NOW">
            <p class="click">By clicking this button, you are agree to my  <a href="#">Policy Terms and Conditions.</a></p>
         <% end %>

        </div>
      </div>
      <div class="reg-right">
        <h3>FEELING LAZY ?</h3>
        <div class="strip"></div>
        <%= link_to ' SIGN UP WITH FACEBOOK', user_omniauth_authorize_path(:facebook), :class => 'hvr-shutter-in-horizontal button' %>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- registration-form -->